.main_container{
    border: 0px solid;
}

.login_container{
    width: 380px; 
    height: 520px; 
    margin: auto; 
    border-radius: 3px; 
    box-shadow: 0px 0px 10px #000;
}

.form_container{
    width: 300px;
    margin: auto;
}

.form_title_div{
    margin: auto; 
    text-align: left;
}

.form_title_p{
    font-weight: bold; 
    font-size: 19px; 
    display: inline-block; 
    padding-top: 8px;
}

.form_input{
    width: 98%; 
    height: 30px; 
    border: 1px solid; 
    border-radius: 3px; 
    border-color: gray;
}


.form_text_alert{
    height: 20px;
    font-size: 9px;
}

.form_text_alert_padding{
    padding-bottom: 10px;
}

.form_submit_button{
    width: 100%; 
    height: 44px; 
    background-color: rgb(0, 0, 0); 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 13px; 
    font-weight: 500;
}

.form_submit_button_kakao{
    width: 100%; 
    height: 44px; 
    background-color: rgb(238, 255, 0); 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 13px; 
    font-weight: 500;
    margin-top: 10px; /*버튼위쪽 바깥여백*/
}
.form_submit_button_google{
    width: 100%; 
    height: 44px; 
    background-color: rgb(38, 0, 255); 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 13px; 
    font-weight: 500;
    margin-top: 10px;
}